@use "../abstract" as *;

.container {
  width: min(73.125rem, 95%);
  @include ma;
}

.grid-container {
  display: $d-grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 12.5rem;
  min-height: 100vh;
}
