nav {
  grid-area: nav;
  background: $lightColor;
  .container {
    height: 100%;
    padding: 0 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.search-bar {
  display: none;
  @media (min-width: 860px) {
    flex: 1 auto;
    max-width: 53rem;
    position: relative;
    display: block;
    &__input {
      width: 100%;
      padding: 0.7rem 3.5rem;
      background: $lightGray;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 2rem;
      font-size: 1.4rem;
      line-height: 1.7rem;
      outline: 0;
      appearance: none;
      transition: $mainTransition;
      &::placeholder {
        font-size: inherit;
        line-height: inherit;
        color: rgba(0, 0, 0, 0.2);
      }
      &:focus {
        background: $lightColor;
        border: 1px solid $darkColor;
      }
    }
    &__close--btn {
      position: absolute;
      background: transparent;
      border: none;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
    }
  }
}

.icons-list {
  display: flex;
  .icon-link {
    padding: 1rem;
    border-radius: 50%;
    transition: $mainTransition;
    &:hover {
      background: $lightGray;
    }
  }
  .mobile-sarch {
    display: flex;
  }

  .search-icon {
    display: block;
    position: relative;
    transition: $mainTransition;
    @media (min-width: 860px) {
      display: none;
    }
  }

  .cart-icon {
    position: relative;
    &__number {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: $primaryColor;
      color: $lightColor;
      font-family: $numberFont;
      text-align: center;
      bottom: 2.5rem;
      left: 2rem;
    }
  }
}

.mobile-searchBar {
  position: absolute;
  width: 100%;
  // background: rgba(234, 79, 61, 0.6);
  background: rgba($darkColor, 0.7);
  top: 0;
  left: 0;
  z-index: -1;
  height: 8rem;
  transition: $mainTransition;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
    .mobile-searchBar__form {
      transform: scale(1);
    }
  }
  &--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  &__form {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    transform: scale(0.4);
    transition: $mainTransition;
  }
  &__input {
    width: 100%;
    align-self: center;
    padding: 0.7rem 2rem;
    background: $lightGray;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    outline: 0;
    appearance: none;
    transition: $mainTransition;
    &::placeholder {
      font-size: inherit;
      line-height: inherit;
      color: rgba(0, 0, 0, 0.2);
    }
    &:focus {
      background: $lightColor;
      border: 1px solid $darkColor;
    }
  }
}
