.details {
  margin-bottom: 8.2rem;
  padding: 0 1rem;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-columns: 2fr 1fr;
  column-gap: 4.4rem;
  row-gap: 2rem;
  &__image {
    max-width: 72rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  &__info {
    display: inline-flex;
    ul {
      display: grid;
      align-content: space-between;
    }
    &-top {
      display: flex;
      justify-content: space-between;
    }
    &-title {
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.36rem;
      color: $darkColor;
      letter-spacing: $mainSpacing;
    }
    &-favorite {
      border: none;
      background-color: transparent;
      svg {
        transform: translateX(0.5rem);
      }
    }
    &-price {
      margin: 1rem 0 3rem;
      font-family: $numberFont;
      font-weight: bold;
      font-size: 2.6rem;
      line-height: 3rem;
      color: $darkColor;
      letter-spacing: $mainSpacing;
    }
    &-status {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
    &-description {
      margin: 3.1rem 0;
      font-size: 20px;
      line-height: 30px;
      color: rgba(55, 55, 55, 0.85);
    }
    &-amount {
      margin-bottom: 3.4rem;
      &__select {
        position: relative;
        width: 100%;
        max-width: 7rem;
        select {
          font-size: 1.6rem;
          border: 1px solid rgba(0, 0, 0, 0.3);
          transform-origin: left center;
          padding: 0.5rem 1.6rem 0.6rem 1.9rem;
          border-radius: 0.5rem;
          font-family: $numberFont;
          outline: 0;
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          transition: $mainTransition;
          &:hover {
            border: 1px solid rgba(0, 0, 0, 0.7);
          }
          option {
            font-style: inherit;
            font-weight: inherit;
            font-size: inherit;
          }
        }
        .dropdown-chevron {
          position: absolute;
          right: 1.3rem;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          height: 0.8rem;
          width: 1.2rem;
        }
      }
    }
    &-addBtn {
      margin-bottom: 2rem;
    }
  }
  .success {
    color: #139ad6;
  }
  .error {
    color: $primaryColor;
  }
  .display {
    display: block;
  }
}
