<header class="header">
  <a routerLink="/">
    <svg-icon src="assets/svg/logo.svg"></svg-icon>
  </a>
  <form>
    <label for="search">
      <button type="submit"><svg-icon src="assets/svg/glass-icon.svg"></svg-icon></button>
      <input type="search" name="search" id="search">
    </label>
  </form>
  <nav class="header__nav">
    <a routerLink="">
      <svg-icon src="assets/svg/user-icon.svg"></svg-icon>
    </a>
    <a routerLink="">
      <svg-icon src="assets/svg/heart-icon.svg"></svg-icon>
    </a>
    <a routerLink="">
      <svg-icon src="assets/svg/cart-icon.svg"></svg-icon>
    </a>
    <button>
      <svg-icon src="assets/svg/hamburger-icon.svg"></svg-icon>
    </button>
  </nav>
</header>