<header class="header">
  <div class="header__content container">
    <a routerLink="/">
      <svg-icon src="assets/svg/logo.svg"></svg-icon>
    </a>
    <form class="header__form">
      <label for="search">
        <button type="submit" aria-label="Search"><svg-icon src="assets/svg/glass-icon.svg"></svg-icon></button>
        <input type="search" name="search" id="search" placeholder="What are you looking for?">
      </label>
    </form>
    <nav class="header__nav">
      <a routerLink="" class="header__nav-item">
        <svg-icon src="assets/svg/user-icon.svg"></svg-icon>
      </a>
      <a routerLink="/wishlist" class="header__nav-item">
        <svg-icon src="assets/svg/heart-icon.svg"></svg-icon>
      </a>
      <a routerLink="/cart" class="header__nav-item">
        <svg-icon src="assets/svg/cart-icon.svg"></svg-icon>
      </a>
      <button class="header__nav-item nav-btn" aria-label="Open Menu" aria-expanded="false">
        <svg-icon src="assets/svg/hamburger-icon.svg"></svg-icon>
      </button>
    </nav>
  </div>

</header>