button {
  cursor: pointer;
  outline: none;
}

.btn {
  background: $primaryColor;
  border-radius: $mainRadius;
  font-family: $textFont;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  border: 1px solid $primaryColor;
  transition: $mainTransition;
  letter-spacing: $mainSpacing;
  color: $lightColor;
  &:hover {
    background: transparent;
    color: $darkColor;
  }
}

.btn--yellow {
  background: $yellowColor;
  border: 1px solid $yellowColor;
}

.btn--blue {
  background: $blueColor;
  border: 1px solid $blueColor;
}

.btn--add {
  width: 100%;
  padding: 1.2rem 0;
  text-transform: initial;
}

.btn--paypal {
  width: 100%;
  padding: 1.2rem 0;
  text-transform: initial;
  font-family: $numberFont;
  font-style: italic;
  font-weight: 900;
  color: #263b80;
  background: $yellowColor;
  border: 1px solid $yellowColor;
  span {
    color: #139ad6;
  }
  &:hover {
    background: transparent;
  }
}
.btn--create {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
.btn--edit {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.btn--delete {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}
