* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 16px * 62.5 = 10px = 1rem
  scroll-behavior: smooth;
  font-family: $textFont;
  color: $darkColor;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding-inline-start: 0;
}

.section-title {
  text-align: center;
  font-family: $textFont;
  font-size: 3.6rem;
  line-height: 4.3rem;
  letter-spacing: $mainSpacing;
  color: $darkColor;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 19rem;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

main {
  grid-area: main;
}

section {
  margin-top: 5rem;
}

footer {
  grid-area: footer;
  background: #e5e5e5;
}
