.form-container {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .form {
    text-align: center;
    background: rgba($color: $lightColor, $alpha: 0.8);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: $mainRadius;
    &__items {
      display: grid;
      width: 32rem;
      padding: 2rem;

      li {
        display: grid;
        .form__title {
          margin-bottom: 2rem;
        }
        .form__input {
          margin-bottom: 0.5rem;
        }
        .form__btn {
          margin: 3rem 0 1rem;
        }
      }
    }
    &__title {
      font-size: 2.6rem;
    }
    &__input {
      padding: 1rem;
      border-radius: $mainRadius;
      border: 0.1rem solid rgba(0, 0, 0, 0.3);
      font-size: 1.2rem;
      font-family: $textFont;
      background: $lightGray;
    }
    &__btn {
      text-transform: capitalize;
      padding: 1rem 0;
    }
    .signout__btn {
      text-transform: capitalize;
      padding: 1rem 0;
    }
    &__text {
      font-size: 1.2rem;
    }
    &__link {
      margin-left: 0.2rem;
      color: $darkColor;
      transition: $mainTransition;
      font-size: 1.2rem;
      &:hover {
        color: $primaryColor;
      }
    }
  }
}

.signin,
.shipping {
  background: url("../images/login-bg.jpg") no-repeat center;
}

.register {
  background: url("../images/register-bg.jpg") no-repeat center;
}

.payment {
  background: url("../images/profile-bg.jpg") no-repeat center;
}
