@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto&display=swap");

// fonts
$textFont: "Lato", sans-serif;
$numberFont: "Roboto", sans-serif;

// colors
$lightColor: #fff;
