.our-products {
  padding: 0 1rem;
  .products-filter {
    margin-bottom: 3rem;
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 570px) {
      justify-content: flex-start;
    }
    &__btn {
      padding: 0.8rem 2.3rem;
      background: $lightGray;
      border-radius: 2rem;
      border: none;
      cursor: pointer;
      transition: $mainTransition;
      letter-spacing: $mainSpacing;
      font-family: $textFont;
      color: $darkColor;
      font-size: 1.2rem;
      line-height: 1.4rem;
      &:hover {
        background: $gray;
        color: #000;
      }
    }
    .active {
      background: $gray;
      color: #000;
    }
  }
  .btn-wrapper {
    margin-top: 3rem;
    text-align: center;
  }
  &__btn {
    padding: 1rem 4rem;
  }
}
