.our-products {
  padding: 0 1rem;
  .products-filter {
    margin-top: 1.7rem;
    margin-bottom: 3rem;
    display: flex;
    column-gap: 1rem;
    &__btn {
      padding: 0.8rem 2.3rem;
      background: $lightGray;
      border-radius: 2rem;
      border: none;
      cursor: pointer;
      transition: $mainTransition;
      letter-spacing: $mainSpacing;
      font-family: $textFont;
      color: $darkColor;
      font-size: 1.2rem;
      line-height: 1.4rem;
      &:hover {
        background: $darkGray;
      }
    }
    .active {
      background: $darkGray;
    }
  }
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-content: center;
    grid-gap: 3rem;
  }
  .btn-wrapper {
    margin-top: 3rem;
    text-align: center;
  }
  &__btn {
    padding: 1rem 4rem;
  }
}
