@use "abstract" as *;
@use "components" as *;

.footer {
  background-color: $gray-light;
}

.footer__section-heading {
  margin-bottom: 0.625rem;
}

.footer__content {
  display: $d-grid;
  grid-template-areas:
    "newsletter"
    "service"
    "contact"
    "socials";
  text-align: $align-center;
  row-gap: 1.25rem;
  padding: 1.625rem 0;
}

.footer__newsletter {
  grid-area: newsletter;

  p {
    font-size: 0.875rem;
  }
}

.footer__service {
  grid-area: service;
}

.footer__contact {
  grid-area: contact;
}

.footer__socials {
  grid-area: socials;
}

.footer__newsletter-form {
  margin-top: 0.5rem;
  column-gap: 5px;

  @include flex-all-center;

  input {
    padding: 0 0.5rem;
    font-family: inherit;
    font-size: 0.875rem;
    height: 1.875rem;
    border-radius: $rounded;
    border: 1px solid rgba($dark, 0.3);

    @include input-outline;
  }

  button {
    padding: 0 0.5rem;
    height: 1.875rem;
    text-transform: uppercase;

    @include btn-outline(2px, $secondary);
  }
}

.footer__service-item,
.footer__contact-item {
  @include mb(5px);
}

.footer__service-link,
.footer__contact-link {
  font-size: 0.875rem;
  color: inherit;
  @include link-underline($secondary);
}

.footer__socials-item {
  display: $d-inline-block;
  @include mr(0.875rem);
}

.footer__socials-link {
  width: 1.75rem;
  transition: color $transition-base;
  color: inherit;

  &:hover,
  &:focus {
    color: $secondary;
  }
}

@include sm {
  .footer__content {
    grid-template-areas:
      "newsletter contact"
      "service socials";
  }
}

@include lg {
  .footer__content {
    grid-template-areas: "newsletter service contact socials";
    justify-content: space-between;
    text-align: left;
  }

  .footer__newsletter-form {
    justify-content: flex-start;
  }
}
