<footer class="footer">
  <div class="container footer__content">
    <section class="footer__section footer__newsletter">
      <h2 class="footer__section-heading heading-3">Signup for our newsletter</h2>
      <p>Stay up to date with our latest news and products</p>
      <form class="footer__newsletter-form">
        <input type="email" aria-label="email" placeholder="Your email address">
        <button type="submit">subscribe</button>
      </form>
    </section>
    <section class="footer__section footer__service">
      <h2 class="footer__section-heading heading-3">Customer service</h2>
      <ul>
        <li class="footer__service-item"><a href="#" class="footer__service-link">Delivery &amp; Return</a></li>
        <li class="footer__service-item"><a href="#" class="footer__service-link">My Account</a></li>
        <li class="footer__service-item"><a href="#" class="footer__service-link">Privacy Policy</a></li>
        <li class="footer__service-item"><a href="#" class="footer__service-link">Terms &amp; Conditions</a></li>
      </ul>
    </section>
    <section class="footer__section footer__contact">
      <h2 class="footer__section-heading heading-3">Contact</h2>
      <ul>
        <li class="footer__contact-item"><a href="#" class="footer__contact-link">Contact Us</a></li>
        <li class="footer__contact-item"><a href="#" class="footer__contact-link">Store Directory</a></li>
      </ul>
    </section>
    <section class="footer__section footer__socials">
      <h2 class="footer__section-heading heading-3">Follow us</h2>
      <ul>
        <li class="footer__socials-item"><a href="https://www.facebook.com/" class="footer__socials-link">
            <svg-icon src="assets/svg/facebook.svg"></svg-icon>
          </a></li>
        <li class="footer__socials-item"><a href="https://www.instagram.com/" class="footer__socials-link">
            <svg-icon src="assets/svg/instagram.svg"></svg-icon>
          </a></li>
        <li class="footer__socials-item"><a href="https://www.linkedin.com/" class="footer__socials-link">
            <svg-icon src="assets/svg/linkedin.svg"></svg-icon>
          </a></li>
      </ul>
    </section>
  </div>

</footer>