.content {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  &__link {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #111;
    font-weight: 700;
    position: relative;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      background: url("../images/left-arrow.svg");
      background-size: 2rem 2rem;
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 0;
    }
  }
}
